@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Colours */
  --color-text : #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  /* --color-bg: #04152d; */
  --color-bg: hsl(224 71.4% 4.1%);


  /* Fonts */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
  color: var(--color-text);
}

body{
  background-color: var(--color-bg);
}